client/src/main/java/stub1/ServiceManageFranchise.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.polytech.unice.fr/serviceManageFranchise" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ServiceManageFranchiseImplementsService" targetNamespace="http://www.polytech.unice.fr/serviceManageFranchise">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/serviceManageFranchise" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/serviceManageFranchise" version="1.0">

  <xs:element name="creerBoutique2" type="tns:creerBoutique2"/>

  <xs:element name="creerBoutique2Response" type="tns:creerBoutique2Response"/>

  <xs:element name="creerUnCookie" type="tns:creerUnCookie"/>

  <xs:element name="creerUnCookieResponse" type="tns:creerUnCookieResponse"/>

  <xs:element name="getListeMagasin" type="tns:getListeMagasin"/>

  <xs:element name="getListeMagasinResponse" type="tns:getListeMagasinResponse"/>

  <xs:complexType name="getListeMagasin">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getListeMagasinResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listedeMagasin" type="tns:magasin"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="magasin">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listCommande" nillable="true" type="tns:commande"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="tax" type="xs:double"/>
      <xs:element minOccurs="0" name="todaySpecial" type="tns:cookie"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="commande">
    <xs:sequence>
      <xs:element minOccurs="0" name="cookies" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="lieuRetrait" type="xs:string"/>
      <xs:element minOccurs="0" name="prixHT" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cookie">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="prixHT" type="xs:double"/>
      <xs:element minOccurs="0" name="quantite" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="creerUnCookie">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="prix" type="xs:double"/>
      <xs:element minOccurs="0" name="quantite" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="creerUnCookieResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="creerCookie" type="tns:cookie"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="creerBoutique2">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="creerBoutique2Response">
    <xs:sequence>
      <xs:element name="creerBoutique" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="creerBoutique2Response">
    <wsdl:part element="tns:creerBoutique2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creerUnCookieResponse">
    <wsdl:part element="tns:creerUnCookieResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creerUnCookie">
    <wsdl:part element="tns:creerUnCookie" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creerBoutique2">
    <wsdl:part element="tns:creerBoutique2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListeMagasin">
    <wsdl:part element="tns:getListeMagasin" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListeMagasinResponse">
    <wsdl:part element="tns:getListeMagasinResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServiceManageFranchise">
    <wsdl:operation name="getListeMagasin">
      <wsdl:input message="tns:getListeMagasin" name="getListeMagasin">
    </wsdl:input>
      <wsdl:output message="tns:getListeMagasinResponse" name="getListeMagasinResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creerUnCookie">
      <wsdl:input message="tns:creerUnCookie" name="creerUnCookie">
    </wsdl:input>
      <wsdl:output message="tns:creerUnCookieResponse" name="creerUnCookieResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creerBoutique2">
      <wsdl:input message="tns:creerBoutique2" name="creerBoutique2">
    </wsdl:input>
      <wsdl:output message="tns:creerBoutique2Response" name="creerBoutique2Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceManageFranchiseImplementsServiceSoapBinding" type="tns:ServiceManageFranchise">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getListeMagasin">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getListeMagasin">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListeMagasinResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creerBoutique2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="creerBoutique2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="creerBoutique2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creerUnCookie">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="creerUnCookie">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="creerUnCookieResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceManageFranchiseImplementsService">
    <wsdl:port binding="tns:ServiceManageFranchiseImplementsServiceSoapBinding" name="ServiceManageFranchiseImplementsPort">
      <soap:address location="http://localhost:8080//webservices/ServiceManageFranchise"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>